*{
    margin: 0vh;
    padding: 2vh;
    scroll-behavior:smooth;
    font-family: "Segoe UI",Arial,sans-serif;
}
body{
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    background-color: #caf0f8;
}
body.scroll-down{
    background-color: #9edce9;
}
body.scroll-down2{
    background-color: #7fc6d4;
}
.center{ 
    display: flex;
   align-items: center;
   justify-content: center;
    text-align: center
}

.c1{
    height: 100%;
}
.c2{
    height: 100%;
}
.title{
    font-size: 50px;
    font-family: "Segoe UI",Arial,sans-serif;
    text-shadow: 2px 2px 5px #023e8a;
}

#c2-1{
    position: relative;
    top: 0vh;
    width: 100%;
}

.in{
    color: black;
}
.justify{
    text-align: justify;
}
.in-title{
    font-family: "Segoe UI",Arial,sans-serif;
    text-shadow: 2px 2px 3px #00b4d8;
}
.in-title-2{
    font-family: "Segoe UI",Arial,sans-serif;
    text-shadow: 2px 2px 3px #00b4d8;
    top: -10vh;
    margin-top: -30vh;
}

/*-- ANIMATION --
@keyframes fadeIn-body {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}*/

.fade-in{
    animation: fadeIn-body 2s;
}

.underline{
    text-decoration: underline;
}



.foto{
    width: 450px;
    height:400px;
    position: relative;
    left: 110vh;
    top: -70vh;
    /*border: solid red;*/
}
#foto-1{
    width: 220px;
    margin: 0%;
    padding: 0%;
}
#foto-2{
    width: 220px;
    margin: 0%;
    padding: 0%;

}
#foto-3{
    width: 220px;
    margin: 0%;
    padding: 0%;
}
#foto-4{
    width: 220px;
    margin: 0%;
    padding: 0%;
}

#c2_2{
    width: 100vh;
}


/*-- MEDIA DEVICE --*/

/*telefono*/
@media (max-width: 502px) {
    *{
        font-size: 20px;
    }
    .foto{
        width: 0px;
        height: 0px;
        left: -30vh;
        opacity: 0%;
    }
    #c2_2{
        width: auto;
    }
    .c2{
        margin-top: 200px;
    }
    .justify{
        text-align:left;
    }
}